In [1]:
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [3]:
import pandas as pd

# Read the first 100 rows of the gzipped CSV file
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', nrows=100)

# Display the first few rows of the DataFrame
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2021-01-01 00:30:10   2021-01-01 00:36:12                1
1         1  2021-01-01 00:51:20   2021-01-01 00:52:19                1
2         1  2021-01-01 00:43:30   2021-01-01 01:11:06                1
3         1  2021-01-01 00:15:48   2021-01-01 00:31:01                0
4         2  2021-01-01 00:31:49   2021-01-01 00:48:21                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           2.10           1                  N           142            43
1           0.20           1                  N           238           151
2          14.70           1                  N           132           165
3          10.60           1                  N           138           132
4           4.94           1                  N            68            33

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          8.0    3.0      0.5        0.00           0.0
1             2          3.0    0.5      0.5        0.00           0.0
2             1         42.0    0.5      0.5        8.65           0.0
3             1         29.0    0.5      0.5        6.05           0.0
4             1         16.5    0.5      0.5        4.06           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         11.80                   2.5
1                    0.3          4.30                   0.0
2                    0.3         51.95                   0.0
3                    0.3         36.35                   0.0
4                    0.3         24.36                   2.5

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [7]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [14]:
df = next(df_iter)

In [15]:
len(df)

100000

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [25]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [24]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 6.55 s, sys: 132 ms, total: 6.68 s
Wall time: 10.2 s

1000

In [33]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-12-21 02:14:08--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.39.56, 52.216.205.205, 16.182.71.48, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.39.56|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2024-12-21 02:14:09 ERROR 403: Forbidden.

In [23]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [20]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [22]:
engine.connect()

In [37]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [38]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [41]:
df.to_sql(name='yellow_tripdata_trip', con=engine, index=False)

765

In [42]:
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 10
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,None,2021-01-05 10:38:40,2021-01-05 10:46:20,None,1.30,None,None,170,161,None,7.00,0.0,0.5,1.03,0.00,0.3,11.33,2.5
1,None,2021-01-05 10:17:14,2021-01-05 10:41:21,None,7.90,None,None,216,198,None,31.49,0.0,0.5,2.75,0.00,0.3,35.04,0.0
2,None,2021-01-05 10:39:00,2021-01-05 10:46:00,None,0.98,None,None,62,62,None,16.23,0.0,0.5,2.75,0.00,0.3,19.78,0.0
3,None,2021-01-05 10:05:00,2021-01-05 10:19:00,None,1.59,None,None,85,71,None,13.45,0.0,0.5,2.75,0.00,0.3,17.00,0.0
4,None,2021-01-05 10:18:08,2021-01-05 10:41:40,None,9.87,None,None,236,208,None,30.23,0.0,0.5,2.75,6.12,0.3,39.90,0.0
5,None,2021-01-05 10:06:19,2021-01-05 10:26:11,None,10.28,None,None,185,235,None,22.93,0.0,0.5,2.75,0.00,0.3,26.48,0.0
6,None,2021-01-05 10:10:02,2021-01-05 10:28:14,None,7.14,None,None,55,155,None,24.42,0.0,0.5,2.75,0.00,0.3,27.97,0.0
7,None,2021-01-05 10:49:03,2021-01-05 11:02:57,None,1.50,None,None,236,161,None,12.50,0.0,0.5,3.16,0.00,0.3,18.96,2.5
8,None,2021-01-05 10:01:50,2021-01-05 11:01:03,None,11.81,None,None,265,92,None,31.68,0.0,0.5,0.00,0.00,0.3,32.48,0.0
9,None,2021-01-05 10:43:18,2021-01-05 11:06:16,None,9.78,None,None,83,244,None,28.46,0.0,0.5,2.75,6.12,0.3,38.13,0.0

In [44]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False
1,public,yellow_tripdata_trip,root,None,False,False,False,False

In [45]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [46]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [47]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.07 s, sys: 15.9 ms, total: 4.08 s
Wall time: 6.08 s

765

In [48]:
from time import time

In [49]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type double precision: "N"
LINE 1: ...amp, '2021-01-01T00:36:12'::timestamp, 1, 2.1, 1, 'N', 142, ...
                                                             ^

[SQL: INSERT INTO yellow_taxi_data (index, "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tol ... 452885 characters truncated ... amount__999)s, %(improvement_surcharge__999)s, %(total_amount__999)s, %(congestion_surcharge__999)s)]
[parameters: {'index__0': 0, 'store_and_fwd_flag__0': 'N', 'tip_amount__0': 0.0, 'passenger_count__0': 1, 'tpep_pickup_datetime__0': datetime.datetime(2021, 1, 1, 0, 30, 10), 'total_amount__0': 11.8, 'fare_amount__0': 8.0, 'mta_tax__0': 0.5, 'payment_type__0': 2, 'VendorID__0': 1, 'trip_distance__0': 2.1, 'congestion_surcharge__0': 2.5, 'RatecodeID__0': 1, 'DOLocationID__0': 43, 'improvement_surcharge__0': 0.3, 'PULocationID__0': 142, 'tpep_dropoff_datetime__0': datetime.datetime(2021, 1, 1, 0, 36, 12), 'tolls_amount__0': 0.0, 'extra__0': 3.0, 'index__1': 1, 'store_and_fwd_flag__1': 'N', 'tip_amount__1': 0.0, 'passenger_count__1': 1, 'tpep_pickup_datetime__1': datetime.datetime(2021, 1, 1, 0, 51, 20), 'total_amount__1': 4.3, 'fare_amount__1': 3.0, 'mta_tax__1': 0.5, 'payment_type__1': 2, 'VendorID__1': 1, 'trip_distance__1': 0.2, 'congestion_surcharge__1': 0.0, 'RatecodeID__1': 1, 'DOLocationID__1': 151, 'improvement_surcharge__1': 0.3, 'PULocationID__1': 238, 'tpep_dropoff_datetime__1': datetime.datetime(2021, 1, 1, 0, 52, 19), 'tolls_amount__1': 0.0, 'extra__1': 0.5, 'index__2': 2, 'store_and_fwd_flag__2': 'N', 'tip_amount__2': 8.65, 'passenger_count__2': 1, 'tpep_pickup_datetime__2': datetime.datetime(2021, 1, 1, 0, 43, 30), 'total_amount__2': 51.95, 'fare_amount__2': 42.0, 'mta_tax__2': 0.5, 'payment_type__2': 1, 'VendorID__2': 1, 'trip_distance__2': 14.7, 'congestion_surcharge__2': 0.0 ... 18900 parameters truncated ... 'mta_tax__997': 0.5, 'payment_type__997': 1, 'VendorID__997': 2, 'trip_distance__997': 2.01, 'congestion_surcharge__997': 2.5, 'RatecodeID__997': 1, 'DOLocationID__997': 263, 'improvement_surcharge__997': 0.3, 'PULocationID__997': 41, 'tpep_dropoff_datetime__997': datetime.datetime(2021, 1, 1, 0, 24, 23), 'tolls_amount__997': 0.0, 'extra__997': 0.5, 'index__998': 998, 'store_and_fwd_flag__998': 'N', 'tip_amount__998': 0.0, 'passenger_count__998': 1, 'tpep_pickup_datetime__998': datetime.datetime(2021, 1, 1, 0, 28, 9), 'total_amount__998': -15.8, 'fare_amount__998': -12.0, 'mta_tax__998': -0.5, 'payment_type__998': 4, 'VendorID__998': 2, 'trip_distance__998': 3.35, 'congestion_surcharge__998': -2.5, 'RatecodeID__998': 1, 'DOLocationID__998': 186, 'improvement_surcharge__998': -0.3, 'PULocationID__998': 263, 'tpep_dropoff_datetime__998': datetime.datetime(2021, 1, 1, 0, 40, 8), 'tolls_amount__998': 0.0, 'extra__998': -0.5, 'index__999': 999, 'store_and_fwd_flag__999': 'N', 'tip_amount__999': 0.0, 'passenger_count__999': 1, 'tpep_pickup_datetime__999': datetime.datetime(2021, 1, 1, 0, 28, 9), 'total_amount__999': 15.8, 'fare_amount__999': 12.0, 'mta_tax__999': 0.5, 'payment_type__999': 2, 'VendorID__999': 2, 'trip_distance__999': 3.35, 'congestion_surcharge__999': 2.5, 'RatecodeID__999': 1, 'DOLocationID__999': 186, 'improvement_surcharge__999': 0.3, 'PULocationID__999': 263, 'tpep_dropoff_datetime__999': datetime.datetime(2021, 1, 1, 0, 40, 8), 'tolls_amount__999': 0.0, 'extra__999': 0.5}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)