In [1]:
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [1]:
import pandas as pd

# Read the first 100 rows of the gzipped CSV file
df = pd.read_csv('green_tripdata_2019-09.csv.gz')

# Display the first few rows of the DataFrame
print(df.head())

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0       2.0  2019-09-01 00:10:53   2019-09-01 00:23:46                  N
1       2.0  2019-09-01 00:31:22   2019-09-01 00:44:37                  N
2       2.0  2019-09-01 00:50:24   2019-09-01 01:03:20                  N
3       2.0  2019-09-01 00:27:06   2019-09-01 00:33:22                  N
4       2.0  2019-09-01 00:43:23   2019-09-01 00:59:54                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0            65           189              5.0           2.00
1         1.0            97           225              5.0           3.20
2         1.0            37            61              5.0           2.99
3         1.0           145           112              1.0           1.73
4         1.0           112           198              1.0           3.42

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0         10.5    0.5      0.5        2.36           0.0        NaN
1         12.0    0.5      0.5        0.00           0.0        NaN
2         12.0    0.5      0.5        0.00           0.0        NaN
3          7.5    0.5      0.5        1.50           0.0        NaN
4         14.0    0.5      0.5        3.06           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    0.3         14.16           1.0        1.0
1                    0.3         13.30           2.0        1.0
2                    0.3         13.30           2.0        1.0
3                    0.3         10.30           1.0        1.0
4                    0.3         18.36           1.0        1.0

   congestion_surcharge
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0

/tmp/ipykernel_19397/3936354739.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv.gz')

In [2]:
df.describe()

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
count,389920.000000,389920.000000,449063.000000,449063.000000,389920.000000,449063.000000,449063.000000,449063.000000,449063.000000,449063.000000,449063.000000,0.0,449063.000000,449063.000000,389920.000000,389920.000000,389920.000000
mean,1.837777,1.106971,108.139203,130.154678,1.311900,3.519991,15.491455,0.697539,0.484626,1.037571,0.312411,NaN,0.253791,18.624612,1.456383,1.024685,0.439440
std,0.368656,0.723302,71.025032,76.577260,0.969761,4.083097,13.561680,1.022319,0.097407,2.261574,1.416886,NaN,0.110241,15.243472,0.522117,0.155162,1.007679
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,-200.000000,-4.500000,-0.500000,-3.890000,-15.400000,NaN,-0.300000,-200.000000,1.000000,1.000000,-2.750000
25%,2.000000,1.000000,56.000000,65.000000,1.000000,1.100000,7.000000,0.000000,0.500000,0.000000,0.000000,NaN,0.300000,8.800000,1.000000,1.000000,0.000000
50%,2.000000,1.000000,82.000000,129.000000,1.000000,2.090000,11.000000,0.500000,0.500000,0.000000,0.000000,NaN,0.300000,13.550000,1.000000,1.000000,0.000000
75%,2.000000,1.000000,166.000000,195.000000,1.000000,4.220000,20.000000,1.000000,0.500000,1.660000,0.000000,NaN,0.300000,24.050000,2.000000,1.000000,0.000000
max,2.000000,99.000000,265.000000,265.000000,9.000000,341.640000,1761.000000,8.250000,17.330000,400.000000,33.240000,NaN,0.300000,1762.800000,5.000000,2.000000,2.750000

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000)

In [7]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [9]:
# Initialize a counter for the total number of trips
total_trips = 0

# Process each chunk
for chunk in df_iter:
    # Filter rows where pickup and dropoff dates are on 2019-09-18
    filtered_chunk = chunk[
        (pd.to_datetime(chunk['lpep_pickup_datetime']).dt.date == pd.to_datetime('2019-09-01').date()) &
        (pd.to_datetime(chunk['lpep_dropoff_datetime']).dt.date == pd.to_datetime('2019-09-01').date())
    ]
    # Add the count of filtered rows to the total
    total_trips += len(filtered_chunk)

# Print the result
print(f"Total taxi trips on 2019-09-18: {total_trips}")

Total taxi trips on 2019-09-18: 0

In [13]:
# Create the table schema
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [15]:
# Load the actual data into the table
df.to_sql(name='green_taxi_data', con=engine, index=False, if_exists='replace')

63

In [16]:
query = """
SELECT * FROM green_taxi_data limit 10
"""

pd.read_sql(query, con=engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.00,None,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.00,None,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.00,None,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.00,None,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.00,None,0.3,18.36,1.0,1.0,0.0
5,2.0,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1.0,7,41,1.0,6.26,21.0,0.5,0.5,0.00,6.12,None,0.3,28.42,2.0,1.0,0.0
6,2.0,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1.0,33,37,1.0,4.34,18.0,0.5,0.5,3.86,0.00,None,0.3,23.16,1.0,1.0,0.0
7,1.0,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1.0,55,55,1.0,1.20,2.5,0.5,0.5,0.00,0.00,None,0.3,3.80,3.0,1.0,0.0
8,1.0,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1.0,55,89,1.0,0.00,22.2,0.0,0.5,0.00,0.00,None,0.3,23.00,1.0,1.0,0.0
9,2.0,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1.0,17,17,1.0,0.14,2.5,0.5,0.5,0.00,0.00,None,0.3,3.80,2.0,1.0,0.0

In [18]:
# Question 3. Count records
# How many taxi trips were totally made on September 18th 2019?

query = """
SELECT COUNT(*) AS total_trips
FROM green_taxi_data
WHERE DATE(lpep_pickup_datetime) = '2019-09-18'
  AND DATE(lpep_dropoff_datetime) = '2019-09-18';
"""

pd.read_sql(query, con=engine)

   total_trips
0        15612

In [ ]:
# Question 4. Longest trip for each day
# Which was the pick up day with the longest trip distance? Use the pick up time for your calculations.
# Tip: For every trip on a single day, we only care about the trip with the longest distance.

query = """
WITH daily_longest_trips AS (
    SELECT 
        DATE(lpep_pickup_datetime) AS pickup_date,
        MAX(trip_distance) AS max_trip_distance
    FROM 
        green_tripdata_2019
    GROUP BY 
        DATE(lpep_pickup_datetime)
)
SELECT 
    pickup_date,
    max_trip_distance
FROM 
    daily_longest_trips
ORDER BY 
    max_trip_distance DESC
LIMIT 1;
"""

pd.read_sql(query, con=engine)

  pickup_date  max_trip_distance
0  2019-09-26             341.64

In [24]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 6.55 s, sys: 132 ms, total: 6.68 s
Wall time: 10.2 s

1000

In [33]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-12-21 02:14:08--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.39.56, 52.216.205.205, 16.182.71.48, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.39.56|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2024-12-21 02:14:09 ERROR 403: Forbidden.

In [23]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [60]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [61]:
engine.connect()

In [62]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [63]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_trip,root,None,False,False,False,False
1,public,yellow_taxi_data,root,None,True,False,False,False
2,public,green_taxi_data,root,None,True,False,False,False

In [41]:
df.to_sql(name='yellow_tripdata_trip', con=engine, index=False)

765

In [42]:
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 10
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,None,2021-01-05 10:38:40,2021-01-05 10:46:20,None,1.30,None,None,170,161,None,7.00,0.0,0.5,1.03,0.00,0.3,11.33,2.5
1,None,2021-01-05 10:17:14,2021-01-05 10:41:21,None,7.90,None,None,216,198,None,31.49,0.0,0.5,2.75,0.00,0.3,35.04,0.0
2,None,2021-01-05 10:39:00,2021-01-05 10:46:00,None,0.98,None,None,62,62,None,16.23,0.0,0.5,2.75,0.00,0.3,19.78,0.0
3,None,2021-01-05 10:05:00,2021-01-05 10:19:00,None,1.59,None,None,85,71,None,13.45,0.0,0.5,2.75,0.00,0.3,17.00,0.0
4,None,2021-01-05 10:18:08,2021-01-05 10:41:40,None,9.87,None,None,236,208,None,30.23,0.0,0.5,2.75,6.12,0.3,39.90,0.0
5,None,2021-01-05 10:06:19,2021-01-05 10:26:11,None,10.28,None,None,185,235,None,22.93,0.0,0.5,2.75,0.00,0.3,26.48,0.0
6,None,2021-01-05 10:10:02,2021-01-05 10:28:14,None,7.14,None,None,55,155,None,24.42,0.0,0.5,2.75,0.00,0.3,27.97,0.0
7,None,2021-01-05 10:49:03,2021-01-05 11:02:57,None,1.50,None,None,236,161,None,12.50,0.0,0.5,3.16,0.00,0.3,18.96,2.5
8,None,2021-01-05 10:01:50,2021-01-05 11:01:03,None,11.81,None,None,265,92,None,31.68,0.0,0.5,0.00,0.00,0.3,32.48,0.0
9,None,2021-01-05 10:43:18,2021-01-05 11:06:16,None,9.78,None,None,83,244,None,28.46,0.0,0.5,2.75,6.12,0.3,38.13,0.0

In [44]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False
1,public,yellow_tripdata_trip,root,None,False,False,False,False

In [45]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [46]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [47]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.07 s, sys: 15.9 ms, total: 4.08 s
Wall time: 6.08 s

765

In [48]:
from time import time

In [51]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-12-21 05:36:43--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.211.216, 52.217.137.160, 52.217.172.48, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.211.216|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2024-12-21 05:36:43 ERROR 403: Forbidden.

In [50]:
! wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-12-21 05:36:19--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.116.4
Connecting to github.com (github.com)|140.82.116.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20241221%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241221T053619Z&X-Amz-Expires=300&X-Amz-Signature=6e7046c5b0fb2e39ff1fc83657d622d65c802a559246ce1dd7ebbd3a2a9f3af1&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-12-21 05:36:19--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20241221%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241221T053619Z&X-Amz-Expires=300&X-Amz-Signature=6e7046c5b0fb2e39ff1fc83657d622d65c802a559246ce1dd7ebbd3a2a9f3af1&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz’

green_tripdata_2019 100%[===================>]   7.49M  --.-KB/s    in 0.1s

2024-12-21 05:36:20 (60.4 MB/s) - ‘green_tripdata_2019-09.csv.gz’ saved [7854533/7854533]